@charset "utf-8";
html{font-size: 16px;}
body{font-size: 1rem;}
header{border: none;}
header>div{width:100%; margin:0;}
header>div h1{padding-left: .658rem;}
header>div h1 img{width: 2.8125rem;}
header>div nav{display: none;}
header>div .spot i{display:inline-block; font-size: 2.5rem;}    
header>div .spot li a{padding: 0;}
header>div .spot li{padding-left: 1.675rem;}
header>div .spot li a::after{display: none;}
header .total{display: inline-block; font-size: 2.5rem; position: absolute; top: 1.3rem; right: .75rem;}
header>div .spot li:nth-child(2){display: none;}
header>div .spot li:nth-child(3){display: none;}
header>div .spot li:nth-child(5){display: none;}
header>div .total span, header>div .spot li span{position: absolute; left: -4000%;}
header>div .spot{right: 4.5rem; top: 1.3rem;}

.visual div{width: 100%;}
.visual img{width: 100%;}
.visual div .img1{left:1rem; width: 30%; min-width: 12rem;}
.visual div .img2 {
    top: 65%;
    width: 31%;
    max-width: 31rem;
    left: 33%;
}
.visual div .img3 {
    width: 26%;
    max-width: 27rem;
    top: 63%;
    left: 62%;
}
.visual div .img4 {
    width: 27%;
    max-width: 29rem;
    top: 34%;
    left: 38%;
}
.visual div .img5 {
    width: 30%;
    max-width: 29rem;
    top: 30%;
    left: 65%;
}


.rewards>div{width: 100%;}
.rewards .info_top{display: block;}
.rewards .btm{display: block;}










