@charset "utf-8";
*{list-style: none; margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 20px;}
body{font-size: 1rem; color: #333;}
a{text-decoration: none; color: #333;}
header{height:5rem; background-color: #f6f5ef; border-top: 2px solid #222; border-bottom: 2px solid #222;}
header>div{width: 54.5rem; height: 100%; margin:0 auto; position: relative;
display: flex; justify-content: space-between; align-items: center; padding-top: .6rem;}
header>div .spot{position: absolute; right: 1.1rem; top:0.3rem; display: flex; justify-content: space-between; }
header>div nav ul{display: flex; justify-content: space-between;}
header>div nav ul li a{font-size: .7rem; padding: .75rem 1.25rem;}
header>div .spot li{position: relative;}
header>div .spot li a{font-size: .6rem; padding: 0 .75rem;}
header>div .spot li~li a::after{content: ""; position: absolute; left: 0; top:50%; width:1px;
height:.6rem; background:#e5e5e5; transform: translateY(-10%); }
header>div .spot li:last-child a::after{display: none;}
header>div .spot li:last-child a{display:block;  font-size:0; color: transparent; width:1.7rem;
height: 1.7rem; background-color: #fff; border: 1px solid #ccc; text-align:center; line-height:1.7rem; border-radius: 0.25rem; padding: 0;}
header>div .spot li:last-child a:before{content: "\e97a"; font-family: 'xeicon'; font-size: 1.2rem; color: #222;}
header>div .spot i{display: none;}    
header .total{display: none;}

.visual{background: url(../img/bg_visual.jpg) no-repeat center top; height: 646px; position: relative;}
.visual>div{position:relative; width: 100%; max-width:54.5rem; height:32.3rem; margin: 0 auto;}
.visual>div div{position: absolute;}
.visual .img1{top: 4rem;}
.visual .img1 img{display: block; padding-bottom: 2.3rem;}
.visual .img1 a{display: inline-block; border: 2px solid #3a62ad; text-align: center; line-height: 1.7rem;
border-radius: 3px; font-size: .65rem; color: #3a62ad; width: 6rem;}

.visual .img3{left: 50%; top: 3.8rem;}
.visual .img4{left: 63%; top: 15.75rem; z-index: 2;}
.visual .img2{left: 16%; top: 8.7rem; z-index: 1;}

.bar{width: 100%; height: 3.5rem; background: linear-gradient(to right, #111, #272727 60%,  #fff 60%, #fff);}
.bar>div{width: 54.5rem; margin: 0 auto; display: flex; justify-content: space-around;
align-items: center; height: 100%; }
.bar>div .left{width: 70%; color: #fff; font-size: .8rem; padding-left: 2rem;} 
.bar>div .right{width: 30%; font-size: .8rem;}





.rewards{background:linear-gradient(to right, #272727, #272727 30%,  #d6c798 30%, #d6c798);}
.rewards>div{width: 54.5rem; margin:0 auto; display: flex;  position: relative;}

.rewards h2{position:absolute; display:flex; align-items: center; width:21rem; height:13rem; 
background:url(../img/bg_star.png) no-repeat ; background-size: 17rem; padding-left: 1rem;
}
.rewards h2 img{width: 45%;}  

.rewards .info{padding:2rem 0 0 17.5rem; height:13rem; background: url(../img/bg_dot.png) no-repeat left bottom #d6c798; }
.rewards .info span{display:block; padding-bottom:.6rem; font-size: 1.15rem; line-height: 100%; letter-spacing: -1.5px;}
.rewards .info p{font-size: .7rem; color: #666; line-height: 1.1rem; letter-spacing: -0.5px;}
.rewards .left{float: left;}
.rewards .right{float: right;}
.rewards .btm{clear:both; padding-top:1.7rem;}
.rewards .btm .btn{width: 13rem;}
.rewards .top_btn{padding-top: 1.7rem;}
.rewards .top_btn a:first-child{margin-right:.25rem;}

.btn{display: inline-block; height: 1.9rem; min-width: 6.45rem; line-height: 1.9rem; text-align:center;
font-size: .7rem; color: #222;
border: 2px solid #222; border-radius: 3px;}
.btn.type1{background: #222; color: #fff;}

.main-bean_wrap{background: url(../img/christmas_bean_bg_002_02.jpg) no-repeat center top; width: 100%; height:28rem; overflow: hidden;}
.main-bean_inner{width: 54.5rem; margin: 0 auto; height: 100%; position: relative;}
.main-bean_inner .bean_img_box{position: absolute; top: 15%; left: 0; z-index:6;}
.main-bean_inner .bean_txt_box{position: absolute; top: 35%; right: 8.5%; z-index:6;}
.main-bean_inner .bean_txt_box img{margin-bottom: 1.5rem;}
.main-bean_inner .btn_bean_detail{z-index:6;}
.main-bean_inner .btn_bean_detail a{font-size: .8rem; border: 2px solid #fff; border-radius: 3px; padding: 0.3rem .8rem; transition:background-color .7s, color .7s; color: #fff;}
.main-bean_inner .btn_bean_detail a:hover{background-color: #fff; color: #333;}
.bean_img_box img, .bean_txt_box img {width:100%;}

.reserve_visual{width: 100%; height: 20rem; background: url(../img/reserve_christmas_bg.jpg) no-repeat center top;}
.reserve_visual_wrap{width: 54.5rem; height: 100%; margin:0 auto;}
.reserve_title{padding-top: 5rem;}
.reserve_btn_wrap{width: 54.5rem; padding-left: 10rem; margin-top: 3rem;}
.reserve_btn{font-size: .8rem; border: 2px solid #b9813d;; border-radius: 3px; padding: 0.3rem .8rem; transition:background-color .7s, color .7s; color: #b9813d;}
.reserve_btn_wrap a:hover{background-color: #b9813d;; color: #fff;}

.favWrap{background: url(../img/Chrismas2_PTF_bg.png) no-repeat center center fixed #45434c; background-size:auto 100%;
height: 40rem; position: relative;}
.winter_inner{width: 54.5rem; height: 100%; margin: 0 auto; position: relative;}
.winter_title{background: url(../img/fav_prod_txt01.png) no-repeat; text-indent: -20000px; position: absolute;
z-index: 7; height: 204px; left: 200px; overflow: hidden; top: 120px; width: 258px;}
.winter_txt_box{background: url(../img/fav_prod_txt02.png) no-repeat; text-indent: -20000px; position: absolute;
    z-index: 7; height: 204px; left: 91px; overflow: hidden; top: 400px; width: 361px;}
.winter_btn{position: absolute; top: 30rem; left: 16rem; }
.winter_btn a{color: #fff;font-size: .8rem; border: 2px solid #fff; border-radius: 3px; padding: 0.3rem .8rem;transition:background-color .7s, color .7s;}
.winter_btn a:hover{background-color: #fff; color: #222;}



.reserve_magazine_wrap{width: 100%;height: 20rem;}

































