@charset "utf-8";
*{list-style: none; margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 20px;}
body{font-size: 1rem; color: #333;}
a{text-decoration: none; color: #333;}
header{height:5rem; background-color: #f6f5ef;}
header>div{width: 54.5rem; height: 100%; margin:0 auto; position: relative;
display: flex; justify-content: space-between; align-items: center; padding-top: .6rem;}
header>div .spot{position: absolute; right: 1.1rem; top:0.3rem; display: flex; justify-content: space-between; }
header>div nav ul{display: flex; justify-content: space-between;}
header>div nav ul li a{font-size: .7rem; padding: .75rem 1.25rem;}
header>div .spot li{position: relative;}
header>div .spot li a{font-size: .6rem; padding: 0 .75rem;}
header>div .spot li~li a::after{content: ""; position: absolute; left: 0; top:50%; width:1px;
height:.6rem; background:#e5e5e5; transform: translateY(-10%); }
header>div .spot li:last-child a::after{display: none;}
header>div .spot li:last-child a{display:block;  font-size:0; color: transparent; width:1.7rem;
height: 1.7rem; background-color: #fff; border: 1px solid #ccc; text-align:center; line-height:1.7rem; border-radius: 0.25rem; padding: 0;}
header>div .spot li:last-child a:before{content: "\e97a"; font-family: 'xeicon'; font-size: 1.2rem; color: #222;}
header>div .spot i{display: none;}    
header .total{display: none;}

.visual{background: url(../img/Chrisma2_BG.png) no-repeat center top; height: 646px; position: relative;}
.visual>div{position:relative; width: 100%; max-width:54.5rem; height:32.3rem; margin: 0 auto;}
.visual>div div{position: absolute;}
.visual .img1{top: 12rem; width: 34%;}
.visual .img1 img{display: block; padding-bottom: 2.3rem;}
.visual .img1 a{display: inline-block; border: 2px solid #fff; text-align: center; line-height: 1.7rem;
border-radius: 3px; font-size: .65rem; color: #fff; width: 6rem; margin-left: 6rem; transition: background-color .7s, color .7s;}
.visual .img1 a:hover{background-color: #fff; color: #333;}

.visual .img3{left: 33rem; top: 15rem; width: 24%; z-index: 2;}
.visual .img4{left:21rem ; top:7rem ; z-index: 1;width: 26%;}
.visual .img2{left:19rem; top: 15rem; z-index: 2; width: 29%}
.visual .img5{left: 38rem; top: 8rem; z-index: 1; width: 28%;}
.visual .img1 img, .visual .img2 img, .visual .img3 img, .visual .img4 img, .visual .img5 img{width: 100%;}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade_in {
   opacity:0;  
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.5s;
  }
  @keyframes fadeIn02 { from { opacity:0; } to { opacity:1; } }
 
.fade_in02 {
   opacity:0;  
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:2s;
  }

  @keyframes fadeIn03 { from { opacity:0; } to { opacity:1; } }
 
.fade_in03 {
   opacity:0;  
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:2.5s;
  }

  @keyframes fadeIn04 { from { opacity:0; } to { opacity:1; } }
 
.fade_in04 {
   opacity:0;  
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:3s;
  }





.bar{width: 100%; height: 3.5rem; background: linear-gradient(to right, #111, #272727 60%,  #fff 60%, #fff);}
.bar>div{width: 54.5rem; margin: 0 auto; display: flex; justify-content: space-around;
align-items: center; height: 100%; }
.bar>div .left{width: 70%; color: #fff; font-size: .8rem; padding-left: 2rem;} 
.bar>div .right{width: 30%; font-size: .8rem;}





.rewards{background:#1e3932;}
.rewards>div{width: 54.5rem; margin:0 auto; display: flex;  position: relative; }

.rewards h2{position:absolute; width:18%; padding:3rem 0 0 1rem;}
.rewards h2 img{width: 100%;}  

.rewards .info{padding:3rem 0 0 12rem; height:13rem; color: #fff;}
.rewards .info span{display:block; padding-bottom:.6rem; font-size: 1.15rem; line-height: 100%; letter-spacing: -1.5px;}
.rewards .info p{padding-right:2rem; font-size: .7rem; color: #fff; line-height: 1.1rem; letter-spacing: -0.5px;}
.rewards .info .m_br{display: none;}
.rewards .info_top{display: flex; justify-content: space-between;}
.rewards .btm{display: flex; justify-content: space-between; padding-top:1.7rem;}
.rewards .btm .btn{width: 10rem;}
.rewards .top_btn{padding-top: 1.7rem;}
.rewards .top_btn a:first-child{margin-right:.25rem;}

.btn{display: inline-block; height: 1.9rem; min-width: 5rem; line-height: 1.9rem; text-align:center;
font-size: .7rem; color: #fff;
border: 2px solid #fff; border-radius: 3px;}
.btn.type1{background: #00704a; color: #fff; border: 2px solid #00704a; border-radius: 3px;}

.main-bean_wrap{background: url(../img/christmas_bean_bg_002_02.jpg) no-repeat center top; width: 100%; height:28rem; overflow: hidden; position: relative;}
.main-bean_wrap::before{content:""; position:absolute; width: 234px;
height: 234px;background: url(../img/2022_christmas_bean_bg_star_left.png) no-repeat left bottom; left: 0; bottom: 0;}
.main-bean_wrap::after{content:""; position:absolute; width: 234px;
    height: 234px;background: url(../img/2022_christmas_bean_bg_star_right.png) no-repeat right bottom; right: 0; bottom: 0;}
.main-bean_inner{width: 54.5rem; margin: 0 auto; height: 100%; position: relative;}
.main-bean_inner .bean_img_box{position: absolute; top: 15%; left: 0; z-index:6;}
.main-bean_inner .bean_txt_box{position: absolute; top: 35%; right: 8.5%; z-index:6;}
.main-bean_inner .bean_txt_box img{margin-bottom: 1.5rem;}
.main-bean_inner .btn_bean_detail{z-index:6;}
.main-bean_inner .btn_bean_detail a{font-size: .8rem; border: 2px solid #fff; border-radius: 3px; padding: 0.3rem .8rem; transition:background-color .7s, color .7s; color: #fff;}
.main-bean_inner .btn_bean_detail a:hover{background-color: #fff; color: #333;}
.bean_img_box img, .bean_txt_box img {width:100%;}

.reserve_visual{width: 100%; height: 20rem; background: url(../img/reserve_christmas_bg.jpg) no-repeat center top;}
.reserve_visual_wrap{width: 54.5rem; height: 100%; margin:0 auto;}
.reserve_title{padding-top: 5rem;}
.reserve_btn_wrap{width: 54.5rem; padding-left: 10rem; margin-top: 3rem;}
.reserve_btn{font-size: .8rem; border: 2px solid #b9813d;; border-radius: 3px; padding: 0.3rem .8rem; transition:background-color .7s, color .7s; color: #b9813d;}
.reserve_btn_wrap a:hover{background-color: #b9813d;; color: #fff;}

.favWrap{background: url(../img/Chrismas2_PTF_bg.png) no-repeat center center fixed #45434c; background-size:auto 100%;
height: 40rem; position: relative; overflow: hidden;}
.winter_inner{width: 54.5rem; height: 100%; margin: 0 auto; position: relative;}
.winter_title{background: url(../img/fav_prod_txt01.png) no-repeat; text-indent: -20000px; position: absolute;
z-index: 7; height: 204px; left: 105px; overflow: hidden; top: 120px; width: 258px;}
.winter_txt_box{background: url(../img/fav_prod_txt02.png) no-repeat; text-indent: -20000px; position: absolute;
    z-index: 7; height: 204px; left: 0; overflow: hidden; top: 400px; width: 361px;}
.winter_btn{position: absolute; top: 30rem; left: 12rem; }
.winter_btn a{color: #fff;font-size: .8rem; border: 2px solid #fff; border-radius: 3px; padding: 0.3rem .8rem;transition:background-color .7s, color .7s;}
.winter_btn a:hover{background-color: #fff; color: #222;}
.winter_inner .winter_img_box{background: url(../img/Chrismas2_PTF.png) no-repeat; z-index: 8; width: 48rem; height: 30rem; right:-277px; top: 6rem; position: absolute;}


.reserve_magazine_wrap{width: 100%;height: 20rem; background: url(../img/reserve_bg_pc.png) no-repeat center bottom;}
.magazine_inner{width: 54.5rem; height: 100%; margin: 0 auto; display: flex; justify-content: space-around; align-items: center;}
.magazine_title a{display: block; font-size: .8rem; border: 2px solid #333;; border-radius: 3px; padding: 0.3rem .8rem;
transition:background-color .7s, color .7s; color: #333; width: 6.5rem; text-align: center; margin:2rem 0 0 15rem}
.magazine_title a:hover{background-color: #333; color: #fff;}

.store_wrap{width: 100%; height: 20rem; background: url(../img/store_bg.jpg) no-repeat center;
background-size: 100% auto;}
.store_inner{width: 54.5rem; height: 100%; margin: 0 auto; position: relative;}
.store_inner .store_img01{background: url(../img/store_exp_img01.png) no-repeat; z-index: 11; position: absolute; width: 11.4rem; height: 11.4rem; top: 7rem; left: 13rem;}
.store_inner .store_img02{background: url(../img/store_exp_img02.png) no-repeat; z-index: 10; position: absolute; width: 18.3rem; height: 15.6rem;}
.store_inner .store_img03{background: url(../img/store_exp_img03.png) no-repeat; z-index: 9; position: absolute; width: 17.15rem; height: 7.1rem; left: 23rem;}
.store_inner .store_img04{background: url(../img/store_exp_img04.png) no-repeat; z-index: 9; position: absolute; width: 11.5rem; height: 5.1rem; bottom: 0; right: 0;}
.store_inner .store_txt01{background: url(../img/store_txt01.png) no-repeat;z-index: 12; position: absolute; width: 19.5rem; height: 11.5rem; top: 6rem; right: 7rem;}
.store_inner .store_txt02{background: url(../img/store_txt02.png) no-repeat;z-index: 12; position: absolute; width: 18.5rem; height: 11.5rem;top: 10rem; right: 8rem;}

footer{width: 100%;  background-color: #2C2A29;}
.footer_nav{width: 59.1rem;  margin: 0 auto; display: flex; color: #fff; font-size: .8rem; justify-content: space-between; padding-top: 2rem;}
.footer_nav ul li a{color: #fff; font-size: .6rem; line-height: 1.5rem;}
.footer_nav ul li:first-child {margin-bottom: 1rem;}
.footer_nav ul:nth-child(6) {margin-right: 6rem;}
.footer_awards{background:#282828; margin-top: 2rem;}
.footer_awards_inner{width: 59.1rem; height:4rem; margin: 0 auto;}
.footer_awards_inner ul{height:100%; display: flex; justify-content: space-between; align-items: center;}
.footer_copy{width: 59.1rem; margin: 0 auto; color: #fff; font-size: .6rem;}
.footer_copy ul{display: flex;}
.footer_copy ul li a{color: #fff;}
.footer_copy_box01{justify-content: space-between;}
.footer_copy_box02{justify-content: space-around;}











