@charset "utf-8";
html{font-size: 20px;}
body{font-size: 1rem;}
header>div{width:100%; margin:0;}
header>div h1{padding-left: 1rem;}





.visual div .img1{left: 1rem;}



.rewards>div{width: 100%;}
.rewards h2{padding-left: 3rem; min-width: 30%;}

.rewards .info{height: 16.75rem; padding:1.2rem 0 0 23.5rem ;}
.rewards .info_top{display: block;}
.rewards .btm{display: block;}
.rewards .right{padding-top: .7rem;}
.rewards .top_btn {padding-top: 0.7rem;}
.rewards .btm{padding-top: 1rem;}
.rewards .info .m_br{display: block;}
.rewards .info .pc_br{display: none;}

.store_inner .store_img04{display: none;}

.footer_nav{vertical-align: baseline;}
.footer_awards_inner ul li img{width: 100%;}










